<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/datails.css">
    <script src="../public/js/fontsizeset.js"></script>
</head>
<meta name="viewport" content="width=device-width">
<body>
    <div id="big_for">
            <div id="Header_for">
                    <!-- 状态栏 -->
                    <img src="../public/images/状态栏.jpg" alt="" class="statusbar">
            </div>
            <div id="Bodyer_for">
                    <!-- 插入箭头 -->
                    <a href=""><img src="../public/images/Return@2x.png" alt="" class="Arrow"></a>
                    <!-- 保险箱详情文字写入 -->
                    <span class="details">保险箱详情</span>
            </div>    
            <div id="Footer_for">
                    <!-- 保险箱详情 -->
                    <!-- <a href="添加要跳转的链接"> -->
                    <div id="fouraa">
                        <!-- 保险箱详情 -->
                        <span class="fouraa_span">保险箱详情</span>
                        <!-- 牛批保险箱字体 -->
                        <span class="thesafe_style">牛批保险箱</span>
                        <!-- 箭头 -->
                        <img src="../public/images/jiantou.png" alt="" class="arrows">
                    </div><!-- </a> -->
                    <!-- 品牌信息 -->
                    <div id="five">
                        <!-- 品牌 -->
                        <span class="brand">品牌</span>
                        <!-- 三星爆炸品牌 -->
                        <span class="samsung">三星</span>
                    </div>
                    <!-- 无名白条 -->
                    <div id="six"></div>
                    <!-- 序列号盒子 -->
                    <div id="seven">
                        <!-- 序列号 -->
                        <span class="Theserialnumber">序列号</span>
                        <!-- 序列号字符 -->
                        <span class="number">gfrgr44fdfd5fd</span>
                    </div>
                    <!-- 设备IP盒子 -->
                   <div id="eight">
                       <!-- 设备IP文字 -->
                        <span class="IP">设备IP</span>
                        <!-- 设备IP字符 -->
                        <span class="IPnumber">192.168.1.1</span>
                   </div>
                   <!-- 固态版本盒子 -->
                   <div id="version">
                       <!-- 固件版本 -->
                       <span class="version">固件版本</span>
                       <!-- 固件版本号 -->
                       <span class="versionnumber">V2.01245</span>
                   </div>
                   <!-- 连接状态盒子 -->
                   <div id="stateeds">
                       <!-- 链接状态文字 -->
                       <span class="stateabs">连接状态</span>
                       <!-- 链接状态 -->
                       <span class="connection">已连接</span>
                   </div>
                </div>
    </div>
</body>
</html>