<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/scan.css">
    <script src="../public/js/fontsizeset.js"></script>
</head>
<meta name="viewport" content="width=device-width">
<body>
    <!-- 大盒子 -->
    <div id="big">
        <!-- 状态栏盒子 -->
        <div id="Header_two">
            <!-- 状态栏 -->
            <img src="../public/images/状态栏.jpg" alt="" class="Header_two_img_style">
        </div>
        <!-- 返回栏盒子 -->
    <div id="Bodyer_two">
            <!-- 返回箭头 -->
            <a href="/"><img src="../public/images/Return@2x.png" alt="" class="Bodyer_two_img_style"></a>
            <!-- 扫一扫 -->
            <span class="scan_one_scan_style">{{scan_one_scan}}</span>
        </div>
        <!-- 扫描盒子 -->
    <div id="Footer_two">
            <!-- 扫描背景 --> 
            <img src="../public/images/扫描.jpg" alt="" class="Footer_two_scanning_style">
            
        </div>
        <meta http-equiv="refresh" content="2;URL=/addto">
    </div>
</body>
</html>